.reveal .slides img.collabocats {
    border: none;
    box-shadow: none;
    width: 300px;
}

p.strong {
    font-weight: bold;
    font-size: 1.2em;
}

i.fa {
    font-family: "FontAwesome";
    font-style: normal;
}

span.small {
    font-size: 60%;
}

i.fa.fa-external-link {
    font-size: 60%;
}

.tip {
    color: blue;
}

.fa-exclamation-triangle {
    color: red;
    padding: 10px;
}

div.slides section {
    table {
        margin-left: auto;
        margin-right: auto;

        th, td {
            border-width: 1px;
            border-style: solid;
        }
        td {
            padding: 2px;
        }
        tr td:first-child{
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

section.summary p {
    font-size: 200%;
    font-weight: bold;
}

div.reveal {
    h1, h2, h3, h4 {
        text-transform: none;
    }

    font-size: 30px;

    pre {
        font-size: 30px;
        width: 100%;
    }
}

code.bash span.built_in {
    color: lightgreen;
}

code.puppet {
    span.string {
        color: lightblue;
    }
    span.subst, span.symbol {
        color: lightgreen;
    }
    span.comment {
        color: pink;
    }
}

code.yaml {
    span.comment {
        color: lightblue;
    }
}

// To highlight a border:

// border: {
//     color: red;
//     style: solid;
//     width: 1px;
// }
