mixin check
    i.fa.fa-check-circle
mixin external
    i.fa.fa-external-link
mixin magic
    i.fa.fa-magic
mixin warn
    i.fa.fa-exclamation-triangle
mixin user
    i.fa.fa-user
mixin users
    i.fa.fa-users
mixin hierarchy
    i.fa.fa-sitemap.fa-rotate-180
mixin download
    i.fa.fa-cloud-download
mixin keyboard
    i.fa.fa-keyboard-o
mixin lock
    i.fa.fa-lock
mixin td_check
    td(style="text-align: center; ")
        i.fa.fa-check-circle
mixin td_circle
    td
        &nbsp;
mixin tip
    span.fa-stack.pull-left.tip
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-key.fa-stack-1x.fa-inverse

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Boxen Overview

        meta(name="description", content="Boxen Overview")

        include fragments/header.jade

    body
        .reveal
            .slides
                include fragments/title.jade
                include fragments/why_boxen.jade
                include fragments/getting-started.jade
                include fragments/puppet-terms.jade
                include fragments/resources.jade
                include fragments/boxen_structure.jade
                include fragments/private.jade
                include fragments/tips.jade


                section
                    h1 Troubleshooting

                section
                    .vcenter
                        h2 Troubleshooting Resources
                        ul
                            li: a(href="http://stackoverflow.com/questions/22352838/ruby-gem-install-json-fails-on-mavericks-and-xcode-5-1-unknown-argument-mul") XCode 5.1
                            li: a(href="https://github.com/boxen/our-boxen/blob/master/docs/faq.md") Read the FAQ
                            li: a(href="https://github.com/boxen/our-boxen/blob/master/docs/faq.md") Seriously, read the FAQ

                section
                    h1 Summary

                section.summary
                    .vcenter
                        p.strong Easy to start
                section.summary
                    .vcenter
                        p.strong Easy to iterate
                section.summary
                    .vcenter
                        p.strong Fast return on investment
                section.summary
                    .vcenter
                        p.strong Installation + Configuration
                section.summary
                    .vcenter
                        p.strong All the advantages of source control

                section
                    .vcenter
                        h2 Resources

                        ul
                            li: a(href="https://boxen.github.com/") Boxen Homepage
                            li: a(href="http://garylarizza.com/blog/2013/02/15/puppet-plus-github-equals-laptop-love/") A good blog entry
                            li: a(href="http://www.dmuth.org/node/1431/tweaking-boxen-osx") Another (shorter) blog entry
                            li: a(href="http://docs.puppetlabs.com/learning/") Learning Puppet
                            li: a(href="https://github.com/jdigger/boxen.git") Jim's Boxen
                            li: a(href="https://webconference.twcable.com/p7oudsr7jp4/") Recording of brown-bag Jim gave at TWC

                section
                    h1 Q & A

                include fragments/reveal_config.jade
