section.title-slide
    h2(style="font-size: 120px;") Boxen Overview
    h3 Powering Workstations With Git & Puppet
    p
        small Created by &nbsp;
            a(href="https://github.com/jdigger/") Jim Moore
            span= " / "
            a(href="http://twitter.com/jdiggerj") @jdiggerj
    p
        img.collabocats(src="images/collabocats.jpg")
