section
    h1 Why Boxen?

section
    .vcenter
        p "Infrastructure as code" is accepted for our servers, but why don't we apply it to our workstations?

section
    .vcenter
        p Boxen is a tool that enables not just automated installation of software, but also configuration of our desktops

section
    .vcenter
        p Boxen puts the developer in control of their desktop (as if they weren't anyway) but also scales across companies, teams, and even home vs work computers


section
    .vcenter
        p We will cover the basic ideas and tools involved, as well showing some of the things you can configure (hint: everything) for really pimping your machine and making upgrading your environment much faster and consistent WAAAY beyond dotfiles

section
    h1 Consistency & Repeatability


section
    .vcenter
        p.strong No more "follow the steps on the wiki at ..."


section
    .vcenter
        p.strong Consistently configure your dev environment


section
    .vcenter
        p.strong Remove manual steps


section
    h1 Computers Are Faster Than Humans


section
    .vcenter
        p.strong Small tax on initial customizations


section
    .vcenter
        p.strong Graceful iterative customizations


section
    .vcenter
        p.strong Pays back the FIRST time it is re-used


section
    .vcenter
        p.strong Install apps AND configure them <br/> including a lot of the settings that normally require manual changes

section
    h1 Geek Cool


section
    .vcenter
        p.strong A tool meant for developers/power-users

section
    .vcenter
        p.strong Reinforce DevOps mantra "infrastructure is code"
        p &nbsp;
        p Everything is versionable (thus rollbacks) and diff-able
        p &nbsp;
        p Differences between environments can easily be handled

section
    .vcenter
        p.strong Apply server configuration technology to your workstation

section
    .vcenter
        h2(style="font-size: 120px;") Desktops are "Special"
        h3 How do you automate installation/config on a Mac?<br/>(or any "desktop" OS)?

section
    .vcenter
        p.strong Lack of exposed software versioning


section
    .vcenter
        p.strong Installation assumes single user


section
    .vcenter
        p.strong Installation assumes a GUI
